


<form (ngSubmit)="check(formElement)" #formElement=ngForm [class.was-validated]="formElement.submitted || formElement.touched">
  <!-- Email input -->
  <div class="form-outline mb-4">

    <label class="form-label" for="email">Email</label>
    <input name="email" id="email" class="form-control" ngModel required #email="ngModel">


    <label class="form-label" for="form2Example2">Heslo</label>
    <input type="password" name="password" id="form2Example2" class="form-control" ngModel required #password="ngModel"/>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Prihlasit</button>
</form>
