<div *ngIf="jojo == undefined ; else nobody">
  <h2>Aktualne v nemá nik rezerváciu ! </h2>
</div>
<ng-template #nobody >
  <span style="display: flex; justify-content: space-between; align-items: flex-end" class="m-2">
    <h2>Zobraz rezervácie z :</h2>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedDate" (change)="reload()" style="width: 100px">
       <option *ngFor="let o of options">
          {{o.name}}
       </option>
    </select>
  </span>
  <ul>
    <li *ngFor="let recipient of jojo | keyvalue">
      {{recipient.key | date: "HH:mm"}}
      <div *ngFor="let user of recipient.value">
        {{user.firstName}} {{user.lastName}} <a (click)="delete(user)" ><i class="fa-solid fa-trash-can"></i></a>
      </div>
    </li>
  </ul>
</ng-template>
