<div *ngIf="jojo == undefined ; else nobody">
  <h2>Aktualne v nemá nik rezerváciu ! </h2>
</div>
<ng-template #nobody >
  <span style="display: flex; justify-content: space-between; align-items: flex-end" class="m-2">
    <h2>Zobraz rezervácie z :</h2>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedDate" (change)="reload()" style="width: 100px">
       <option *ngFor="let o of options">
          {{o.name}}
       </option>
    </select>
  </span>
  <ul>
    <li *ngFor="let recipient of jojo | keyvalue">
      {{recipient.key | date: "HH:mm"}}
      <div *ngFor="let user of recipient.value">
        {{user}}
      </div>
    </li>
  </ul>
<!--    <div class="col-2 actualRezervation" *ngFor="let [key,value] of jojo">-->
<!--      <h3>{{map.time}}</h3>-->
<!--      <div *ngFor="let user of map.users">-->
<!--        {{user.firstName}}-->
<!--      </div>-->
<!--      </div>-->
</ng-template>
