<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
     <span *ngIf="user$ | async as user; else loginHome">
       <a class="navbar-brand" routerLink="home">JuRez</a>
     </span>
     <ng-template #loginHome>
      <a class="navbar-brand" routerLink="login">JuRez</a>
    </ng-template>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="user$ | async as user; else loginMyRezervation">
       <a class="text-white text-decoration-none" [routerLink]="['home/mojerezervacie',user.id]">Moje Rezervácie</a>
     </li>
        <ng-template #loginMyRezervation>

        </ng-template>
<!--        <button class="nav-->
<!--        -->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--          <a class="nav-link" routerLink="mojerezervacie" routerLinkActive="active">Moje Rezervacie</a>-->
<!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" routerLink="rezervation" routerLinkActive="active">Moje Rezervacie</a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" routerLink="rezervation" routerLinkActive="active">Moje Rezervacie</a>-->
        <!--        </li>-->
      </ul>
<!--      <span class="navbar-text mx-3">{{(user$ | async)?.firstName}}</span>-->
      <span *ngIf="user$ | async as user; else logoutTmp">
        <span class="navbar-text mx-2">{{user.firstName}}</span>
        <a class="btn btn-secondary" routerLink="login" (click)="logout()">Logout</a>
      </span>

      <ng-template #logoutTmp>
        <a class="btn btn-primary" routerLink="login">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>




