
<div class="row">
  <div class="col-4"  *ngFor="let item of items">
      <span class="mb-5"> {{item[0].currentTime | date:"EEEE dd.MM"}}</span>
      <div class=" m-2 "  *ngFor="let day of item" >
        <button *ngIf="day.status == true" class="btn btn-primary" (click)="rezerveTerm(day.currentTime)">{{day.currentTime | date: "HH:mm"}}  {{day.usersCount}}/4</button>
        <button *ngIf="day.status == false" class="btn btn-primary" type="button" disabled (click)="rezerveTerm(day.currentTime)">{{day.currentTime | date: "HH:mm"}}  {{day.usersCount}}/4</button>
      </div>
  </div>
</div>


