<form [formGroup]="myForm">
  <div class="row">
    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
      <input type="text" class="form-control mb-3" placeholder="Datepicker" bsDatepicker formControlName="date" (ngModelChange)="reload()" />
      <pre hidden *ngIf="myForm.value.date" ></pre>
    </div>
  </div>
</form>
<div class="row">
      <span class="mb-5"> {{item[0].currentTime | date:"EEEE dd.MM"}}</span>
      <div class=" m-2 "  *ngFor="let day of item" >
        <button [disabled]="day.status == false || day.usersCount == 4"  class="btn btn-primary" type="button"(click)="openModal(template,day.currentTime)">{{day.currentTime | date: "HH:mm"}}  {{day.usersCount}}/4</button>
<!--        <button *ngIf="day.status == false " class="btn btn-primary" type="button" disabled >{{day.currentTime | date: "HH:mm"}}  {{day.usersCount}}/4</button>-->
      </div>
  </div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Naozaj si chceš rezervovať zadaný termín ? <b> {{cancel_time | date: "dd.MM HH:mm"}} </b> </p>
    <button type="button" class="btn btn-default" (click)="confirm(templateAfterConfirm)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
<ng-template #templateAfterConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAfter.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{infoText}}</p>
  </div>
</ng-template>

