
<div>
  <h1>Aktuálne rezervácie</h1>
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ČAS</th>
      <th scope="col">Zrušit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items ">
      <th *ngIf="item.status == true" scope="row">#</th>
      <td *ngIf="item.status == true">{{item.currentTime}}</td>
      <td *ngIf="item.status == true">
        <a (click)="delete(item)" >
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Historia</h1>
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ČAS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items; let j = index">
      <th *ngIf="item.status == false" scope="row">{{j}}</th>
      <td *ngIf="item.status == false">{{item.currentTime}}</td>
    </tr>
    </tbody>
  </table>
</div>

