
<div>
  <h1>Aktuálne rezervácie</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Cas</th>
      <th class="icon icon-link-colum"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td *ngIf="item.status == true">{{item.currentTime}}</td>
      <td *ngIf="item.status == true">
        <a (click)="delete(item)" >
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Historia</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Cas</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td *ngIf="item.status == false">{{item.currentTime}}</td>
    </tr>
    </tbody>
  </table>
</div>

