
<div class="row row-cols-auto">
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Pondelok</h3>
    <div class="col-1.5  m-1 "  *ngFor="let item of items">
      <div class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Monday'" >
          <button class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
            <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
          </button>
          <br/>
          <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
      </div>
    </div>
  </div>
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Utorok</h3>
    <div class="col-1.5  m-1 "  *ngFor="let item of items">
      <div class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Tuesday' " >
          <button class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
            <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
          </button>
          <br/>
          <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
      </div>
    </div>
  </div>
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Streda</h3>
    <div class="col  m-1 "  *ngFor="let item of items">
        <div class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Wednesday'" >
          <button  class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
            <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
          </button>
          <br/>
          <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
      </div>
    </div>
  </div>
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Štvrtok</h3>
    <div class="col-1  m-1 "  *ngFor="let item of items">
      <div class="buttonDiv" class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Thursday'">
        <button  class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
          <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
        </button>
        <br/>
        <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Piatok</h3>
    <div class="col-1.5  m-1 "  *ngFor="let item of items" >
      <div class="buttonDiv" class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Friday'" >
        <button  class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
          <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
        </button>
        <br/>
        <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Sobota</h3>
    <div class="col-1.5  m-1 "  *ngFor="let item of items" >
      <div class="buttonDiv" class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Saturday'" >
        <button  class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
          <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
        </button>
        <br/>
        <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-xl-auto col-lg-2 col-sm-3" >
    <h3 class="  text-primary p-3" >Nedeľa</h3>
    <div class="col-1.5  m-1 "  *ngFor="let item of items" >
      <div class="buttonDiv" class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Sunday'" >
        <button  class="blob-btn" (click)="rezerveTerm(item)">{{item.currentTime | date: 'HH:mm'}} <br> {{item.count}}/4
          <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
          </span>
        </button>
        <br/>
        <svg style="width: 0; height: 0px" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>


<!--<button class="btn btn-outline-primary me-2" (click)="open('focusFirst')">-->
<!--  <div>Open confirm modal</div>-->
<!--  <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>-->
<!--</button>-->











<!--<div class="row">-->
<!--  Pondelok-->
<!--  <div class="col-xl-auto col-lg-2 col-sm-3"  *ngFor="let item of items" >-->
<!--      <button class="btn btn-outline-info " (click)="rezerveTerm(item)">{{item.currentTime}}</button>-->
<!--    </div>-->
<!--</div>-->
<!--Utorok-->
<!--<div class="row"  *ngFor="let item of items">-->
<!--      <button class="btn btn-outline-info col " class="buttonDiv" class="buttonDiv" *ngIf="(item.currentTime | date: 'EEEE') == 'Tuesday'" (click)="rezerveTerm(item)">{{item.currentTime}}</button>-->
<!--  </div>-->

<!--<div class="row"  >-->
<!--  Streda-->
<!--  <div class="col-xl-auto col-lg-2 col-sm-3"  *ngFor="let item of Wednesday ">-->
<!--        <button class="btn btn-outline-info col "  (click)="rezerveTerm(item)">{{item.currentTime}}</button>-->
<!--  </div>-->

<!--</div>-->



<!--  <div class="col-12">-->
<!--    <table class="table table-striped">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Cas</th>-->
<!--        <th>Obsadenost</th>-->
<!--        <th class="icon icon-link-colum"></th>-->
<!--        <th class="icon icon-link-colum"></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let item of items">-->
<!--        <td>{{item.currentTime}}</td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div class="col-12">-->
<!--    <table class="table table-striped">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Cas</th>-->
<!--        <th>Obsadenost</th>-->
<!--        <th class="icon icon-link-colum"></th>-->
<!--        <th class="icon icon-link-colum"></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let item of items">-->
<!--        <td>{{item.currentTime}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div class="col-12">-->
<!--    <table class="table table-striped">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Cas</th>-->
<!--        <th>Obsadenost</th>-->
<!--        <th class="icon icon-link-colum"></th>-->
<!--        <th class="icon icon-link-colum"></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let item of items">-->
<!--        <td>{{item.currentTime}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->



