

<table class="table table-striped">
  <thead>
  <tr>
    <th>Cas</th>
    <th>Obsadenost</th>
    <th class="icon icon-link-colum"></th>
    <th class="icon icon-link-colum"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <!--      <td><a [routerLink]="[item.id]">{{item.firstName}}</a></td>-->
    <td>{{item.currentTime}}</td>

    <!--    <td>{{item.rezervations?.c}}</td>-->
<!--    <td><a [routerLink]="[item.id,'editUser']" ><i class="fa-solid fa-pen-to-square"></i></a></td>-->
<!--    <td><a (click)="delete(item)" ><i class="fa-solid fa-trash-can"></i></a></td>-->
  </tr>
  </tbody>
</table>

<a class="btn btn-primary" routerLink="newUser">New</a>
